
*.ini
*.elf
*.o
*.lss
*.map
*.srec
*.hex
*.bin
*.srec
*.d
*.swp
*.xml
*.atsuo

# Ignore local repository
Pensum
Node 2 - IO-card/Atmel/ArduinoMega/ArduinoMega/Debug/Makefile
*.mk
*.eep
*.atsln
*.cproj
