
*.ini
*.elf
*.o
*.lss
*.map
*.srec
Node 1 - Breadboard/Atmel project/Byggern/Byggern/.vs/Byggern/v14/.atsuo
Node 1 - Breadboard/Atmel project/Byggern/Byggern/.vs/Byggern/v14/.atsuo
Node 1 - Breadboard/Atmel project/Byggern/Byggern/Debug/Byggern.elf
